.va-layout-area .va-navbar {
    padding: 5px 10px;
}
.content {
    padding: 40px;
    padding-bottom: 0;
    padding-top: 20px;
}

.card {
    padding: 20px 40px;
    min-height: calc(100vh - 150px);
}

.item-content {
    margin-left: -4px;
    margin-right: -4px;
    font-weight: 600;

    &:hover {
        background-color: #b93e3e;
        color: aliceblue;
    }
}


a {
    font-weight: 600;
    color: #666f77;

    &.router-link-exact-active {
        color: #ffffff;

        & #link.va-sidebar-item {
            background: #4c81f3;
            color: #ffffff;
        }
    }
}

.dark-mode .va-data-table .va-data-table__table{
    color: white;
}
.dark-mode .admin-link{
    color: white;
}

.dark-mode .va-navbar{
    background-color: #333 !important;
    color: white !important;
}
.dark-mode .va-sidebar{
    background-color: #333 !important;
    color: white !important;
}
.dark-mode .va-sidebar__item{
    color: white !important;
}
.dark .va-virtual-scroller{
    color: white !important;
}
.dark .va-input__content__input{
    color: white;
}