.account {
  &-info {
    position: sticky;
    top: 40px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 60vh;
    border-radius: 8px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

    & .account-avatar {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      margin-top: -60px;
      z-index: 1;
    }

    & .account-img {
      height: 130px;
      min-height: 130px;
      margin-top: 0;
      width: 100%;
      background-position: center center;
      object-fit: cover;
    }
  }

  &-name {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #bbb9b9;
  }

  &-email {
    width: 100%;
    padding: 30px;
    padding-bottom: 10px;

    & div {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 10px;
    }
  }

  &-username {
    width: 100%;
    padding: 10px 30px;
    border-bottom: 1px solid #bbb9b9;
    margin-bottom: 20px;

    & div:first-child {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 10px;
    }

    & div:last-child {
      font-weight: 600;
      color: #6e6e6e;
    }
  }

  &-group {
    width: 100%;
    padding: 30px 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 0;

    & button {
      display: flex;
      justify-content: center;
      align-items: center;
      color: hsl(0, 0%, 99%);
      gap: 10px;
      text-decoration: none;
      background-color: hsl(22, 94%, 49%);
      padding: 9px 7px;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      border-bottom: 2px;

      &.active,
      &:hover {
        background-color: hsl(22, 83%, 60%);
        border-bottom: 2px solid hsl(22, 95%, 16%);
      }
    }
  }

  &-products {
    display: flex;
    padding-left: 40px;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &-title {
      display: flex;
      justify-content: space-between;
      width: 100%;
      text-transform: capitalize;
      color: hsl(22, 94%, 49%);
      font-size: 24px;

      & button {
        display: flex;
        justify-content: center;
        align-items: center;
        color: hsl(0, 0%, 99%);
        gap: 10px;
        text-decoration: none;
        background-color: hsl(22, 94%, 49%);
        padding: 9px 7px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        border-bottom: 2px;
        font-size: 15px;
        &:hover {
          background-color: hsl(22, 83%, 60%);
        }
      }
    }
  }
}

.relative{
  position: relative;
  height: auto;
}

.textarea-p .va-textarea__textarea.va-textarea__textarea--autosize{
  min-height: 100px;
}

.dark-mode {
  & .account-info {
    background-color: #333;
    color: white;
  }

  & .account-username div:last-child,
  & .account-email a {
    color: #eceaea;
  }
}

